img {
  display: block;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 1280px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: rgb(44, 44, 83);
}

.search-image {
  height: 25px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.load-more,
.search-image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100px;
  border-radius: 2px;
  border-color: transparent;
}

.load-more:hover,
.load-more:focus,
.search-image-btn:hover,
.search-image-btn:focus {
  background-color: darkgrey;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  margin: 10px;
}

.load-more {
  margin: 0 auto;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
